:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(236, 224, 230);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* index.css */

/* Apply a global font style */
body {
  font-family: 'Arial', sans-serif;
}

/* Apply a background color to the entire page */
body {
  background-color: #7A9E9F;
}

/* Center the content in the middle of the page */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Add padding and set a maximum width for the content */
.container {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

/* Style the title at the top of the page */
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ece3e3;
}

/* Additional styling for specific components */
/* Navbar */
.navbar {
  background-color: #4F6367;
  color: #fff;
  padding: 10px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #9ac6c4;
  color: white;
  padding: 20px;
}

/* List */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Card */
.card {
  width: 200px;
  background-color: #ecf0f1;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-price {
  font-size: 1.1rem;
  color: #4beca1;
}

.card-rating {
  margin-top: 5px;
  color: #529ed0;
}

/* Footer */
.footer {
  background-color: #303f42;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a.developer-name {
  color: rgb(64, 192, 179)
}