/* Card Styles */
/* Card.css */

.Card {
    width: 300px;
    background-color: #141414;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .Card:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card-price {
    font-size: 1rem;
    color: #e50914; /* Netflix red color */
  }
  
  .card-rating {
    margin-top: 5px;
    color: #3461db;
    opacity: 0.8;
  }
  
  .buy-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e50914; /* Netflix red color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #8a060c; /* Darker shade on hover */
  }
  
  
  